/*
1. Posicionamiento
2. Modelo caja
3. Tipografía
4. Visuales
5. Otros
*/

:root {
    /* Colores */
    --white: #ffffff;
    --gray-light: #7F7F7F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.personal-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-projects__title {
    font-size: 2.6rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 3.5rem;
    color: #DEDEDE;
}

.personal-project__carousel {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 17px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.personal-project__carousel picture img{
    margin-bottom: 20px;
    scroll-snap-align: center;
}
