@media screen and (min-width: 600px) {
    .home__photo-home {
        width: 300px;
        height: 348px;
    }
    .personal-projects__carousel picture img {
        width: 370px;
        height: 370px;
    }
}

@media screen and (min-width: 768px) {
    .nav__menu {
        position: relative;
        flex-direction: row;
        transform: translateY(0);
        width: 457px;
        height: 50px;
        background-color: transparent;
    }
    .nav__toggle-menu {
        display: none;
    }
    .menu__item--especial {
        border: solid 1px var(--white);
    }
}

@media screen and (min-width: 900px) {
    /* Codigo solo aquí. */
}